*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/gradle
/openCVLibrary340
.externalNativeBuild
/app/src/main/jniLibs
/app/app.iml
/settings.gradle
/PiqlLib/build