<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="filmreader.bacheloroppg.ntnu.no.filmreader">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Currently supports all kinds of screens -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <!-- Features -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.camera.front.autofocus" />

    <!-- Application settings -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/piql_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/piql_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <!-- MainActivity -->
        <activity
            android:name="no.ntnu.bachelor2018.filmreader.MainActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Preferences -->
        <activity android:name="no.ntnu.bachelor2018.filmreader.Preferences" />
        <activity android:name="no.ntnu.bachelor2018.filmreader.FileDisplay" />
        <activity android:name="no.ntnu.bachelor2018.filmreader.FileDisplayClasses.ShowImage" />
        <activity android:name="no.ntnu.bachelor2018.filmreader.FileDisplayClasses.ShowText"></activity>
    </application>

</manifest>